
@{
    ViewBag.Title = "MisPedidos";
}

<h2>MisPedidos</h2>

<div id="tabla-mispedidos"></div>


<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/Custom/mispedidos.js"></script>