
@{
    ViewBag.Title = "Pedidos de Clientes";
}

<link href="~/Content/datatables.min.css" rel="stylesheet" />

<h2>Pedidos de Clientes</h2>



<div id="idTabla-pedidosClientes"></div>


<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/Custom/pedidosClientes.js"></script>



