

@{
    ViewBag.Title = "Productos Clientes";
}



<div class="container">
    <h2>Productos</h2>
    @*<p>The .card-columns class creates a masonry-like grid of cards. The layout will automatically adjust as you insert more cards.</p>
        <p><strong>Note:</strong> The cards are displayed vertically on small screens (less than 576px):</p>*@
    <div class="card-columns">

        <div id="divRenderizado"> </div>

    </div>
</div>

<script src="~/Scripts/Custom/cards.js"></script>

